
.container{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: grid;
    grid-template-columns: auto;
    left: 30%;
}
.child{
    position: relative;
    left: 65px;
}
.inner-child{
    position: relative;
    display: inline-block;
    bottom: 55px;
    left: 16%;
    width: 500px;
}

#close-search-btn{
    left: 50px;
    width: 10%;
    height: auto;
}
body{
    background-image: url(img/backdrop5.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
input[type=text]{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-size: 23px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 50px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
  }
#search-input::placeholder{
    padding-left: 10px;
    font-size: 17px;
}
.movie_poster{
    border-radius: 5px;
    
}
#empty_poster{
    width: 296px;
    height: 446px;
    border: 1px solid gray;
    border-radius: 5px;
    border-style: outset;
}
#playing-title{
    justify-items: center;
    padding: 10px 50px 10px 70px;
    font-weight: bolder;
    font-family:sans-serif;
    font-size: 50px;
    color: white;
}


#movie-grid{
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: baseline;
    text-align: left;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    padding-bottom: 20px;
    max-height: fit-content;
    font-family:sans-serif;
}
.movie-card{
    position: relative;
    padding-bottom: 20px;
}
#movie_title{
    color: white;
    width: 300px;
    height: 65px;
}
#rating_icon{
    width: 4.5%;
    height: auto;
}
#load-more-movies-btn{
    position:relative;
    left: 45%;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: '#cccccc';
    color: black;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
}
#btn-area{
    padding-bottom: 10px;
}
#load-more-movies-btn:hover{
    opacity: 1;
    background-color: white;
}